// variable
$boxShdw: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
  rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
$boxShdw2: rgba(226, 226, 234, 0.25) 0px 6px 12px -2px,
  rgba(6, 5, 5, 0.3) 0px 3px 7px -3px;

// Component Card Report Bug
.card-bug-report-wrapper {
  box-shadow: $boxShdw;
  color: black;
  cursor: pointer;

  &:hover {
    transition: 0.3s ease-in-out;
    box-shadow: $boxShdw2;
  }
}

// Component Card Manage Users
.card-side-b-wrapper {
  box-shadow: $boxShdw;
}
